@charset "UTF-8";
//<ШРИФТ ПО УМОЛЧАНИЮ>======================================================================
$font-family: 'Roboto';
//</ШРИФТ ПО УМОЛЧАНИЮ>======================================================================
//<Переменные>======================================================================
$minWidth: 320px;
$maxWidth: 1400px;
$maxWidthContainer: 1180px;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</Переменные>======================================================================